<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xxx.template.user.mapper.UserManagerMapper">
    <resultMap id="userModelResultMap" type="com.xxx.template.user.model.UserModel">
        <result column="loginName" property="loginName" />
        <result column="userName" property="userName" />
        <result column="password" property="password" />
        <result column="age" property="age" />
    </resultMap>
    
    <select id="getUserModelByLoginName" resultMap="userModelResultMap" parameterType="java.lang.String" >
        SELECT
          t.login_name AS "loginName",
          t.user_name AS "userName",
          t.password AS "password",
          t.age AS "age"
        FROM
          t_s_user t
        WHERE t.login_name = #{loginName}
    </select>
    
    <insert id="addUserModel" parameterType="com.xxx.template.user.model.UserModel">
        INSERT INTO t_s_user
        (
          login_name,
          user_name,
          password,
          age
        ) VALUES (
          #{loginName},
          #{userName},
          #{password},
          #{age}
        )
    </insert>

</mapper>